## Welcome !
This is a Python tutorial to give you the necessary background for
***CSC1032--"Introduction to Cybersecurity"*** Module practicals.





## Quick note about Jupyter cells

When you are editing a cell in Jupyter notebook, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

#### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

#### Markdown cells

Re-running will render the markdown text. To edit an existing markdown cell, double-click on it.

## Before starting:
Please make a copy on your local Drive, or download the notebook to run it on a local machine

## Common Jupyter operations

Near the top of the Jupyter notebook window, there are a row of menu options (`File`, `Edit`, `View`, `Insert`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 files, clipboard and file, up arrow, ...).

#### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell
- Use "Insert" -> "Insert Cell Above" from the menu to insert above

#### Clear the output of all cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
    - click on "clear all outputs & restart" to have all the output cleared

#### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download as" -> "IPython Notebook (.ipynb)" to download a notebook file representing your https://mybinder.org session

<hr>

## References

- https://jupyter-notebook.readthedocs.io/en/latest/notebook.html
- https://mybinder.readthedocs.io/en/latest/introduction.html
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [5]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [6]:
# Addition
num1 + num2

7

In [7]:
# Subtraction
num2 - num3

-10.41

In [8]:
# Multiplication
num3 * num4

-4.446

In [9]:
# Division
num4 / num5

-0.08571428571428572

In [10]:
# Exponent
num5 ** num6

343

In [11]:
# Increment existing variable
num7 += 4
num7

15.11

In [12]:
# Decrement existing variable
num6 -= 2
num6

1

In [13]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [14]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [15]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [16]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [17]:
# Is the first expression less than the second expression?
num5 < num6

False

In [18]:
# Is this expression True?
5 > 3 > 1

True

In [19]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [20]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [21]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [22]:
# Notice that the string was not modified
simple_string1

'an example'

In [23]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [24]:
# This string wasn't modified either
simple_string2

'oranges '

In [25]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [26]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [27]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [28]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [29]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

# Mod and div operations

In Python, you can use the modulo operator `%` to calculate the remainder of the division of one integer by another, and the floor division operator `//` to calculate the quotient of the division of one integer by another.

The syntax for the modulo operator is:

```python
x % y

Where x is the dividend and y is the divisor.

The syntax for the floor division operator is:

x // y

In [30]:
print(10 % 3)  # prints 1 (10 mod 3)
print(10 // 3)  # prints 3 (10 div 3)

1
3

#ASCII

ASCII (American Standard Code for Information Interchange) is a character encoding standard that represents characters as integers. Each character is assigned a unique integer between 0 and 127.

You can use the ord() function to get the ASCII value of a character, and the chr() function to get the character corresponding to an ASCII value.


Here is an example of how to use the ord() and chr() functions:

In [31]:
print(ord('A'))  # prints 65
print(ord('B'))  # prints 66
print(ord('a'))  # prints 97
print(ord('b'))  # prints 98

65
66
97
98

#The chr() function

The chr() function is a built-in function in Python that returns the character corresponding to an ASCII value.
The syntax for the chr() function is:

chr(x)
Where x is an ASCII value.

In [32]:
print(chr(65))  # prints 'A'
print(chr(66))  # prints 'B'
print(chr(97))  # prints 'a'
print(chr(98))  # prints 'b'

A
B
a
b

You can also use the chr() function to get the character corresponding to an ASCII value stored in a variable:

In [33]:
ascii_value = 65

print(chr(ascii_value))  # prints 'A'

A

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [34]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}

In [35]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [36]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [37]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [38]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [39]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [40]:
# Access the first item in a sequence
list1[0]

3

In [41]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [42]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [43]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [44]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [45]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

## What is String in Python?

A string is a built-in type sequence of characters. It is used to handle **textual data** in python. Python **Strings are immutable sequences** of **Unicode** points. Creating Strings are simplest and easy to use in Python.

## How to access characters in a string?

> Bloc en retrait



* In Python, Strings are stored as individual characters in a **contiguous memory location**.

* The benefit of using String is that it can be accessed from both the **directions** (forward and backward).

* Both forward as well as backward indexing are provided using Strings in Python.

* Forward indexing starts with **`0,1,2,3,.... `**

* Backward indexing starts with **`-1,-2,-3,-4,.... `**

* Trying to access a character out of index range will raise an **`IndexError`**. The index must be an integer. We can't use floats or other types, this will result into **`IndexError`**.

* Strings can be indexed with square brackets. Indexing starts from zero in Python.

* We can access a range of items in a string by using the slicing operator **`:`**(colon).

* And the **`len()`** function provides the length of a string

```python
str[0] = 'P' = str[-6] ,
str[1] = 'Y' = str[-5] ,
str[2] = 'T' = str[-4] ,
str[3] = 'H' = str[-3] ,
str[4] = 'O' = str[-2] , # refers to the second last item
str[5] = 'N' = str[-1].  # refers to the last item
```

<div>
<img src="img/s3.png" width="300"/>
</div>

## Some methods on string objects

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [46]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [47]:
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [48]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [49]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [50]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [51]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [52]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [53]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [54]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [55]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [56]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [57]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [58]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [59]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

## Some methods on list objects

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index

## Python "if statements" and "while loops"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

The **while loop** will keep looping until its conditional expression evaluates to `False`.

> Note: It is possible to "loop forever" when using a while loop with a conditional expression that never evaluates to `False`.
>
> Note: Since the **for loop** will iterate over a container of items until there are no more, there is no need to specify a "stop looping" condition.

In [60]:
# Let's say we want to print each character in the string "hello"

# We can do this using a for loop:

string = "hello"

for char in string:
  print(char)

# Output:
# h
# e
# l
# l
# o

# The for loop iterates over each character in the string and prints it.

h
e
l
l
o

# For loops
We can also use the for loop to perform a task on each character in the string.

For example, let's say we want to print the ASCII value of each character in the string "hello":

In [61]:

string = "hello"

for char in string:
  print(ord(char))

# Output:
# 104
# 101
# 108
# 108
# 111

# The ord() function returns the ASCII value of a character.

104
101
108
108
111

In [62]:

# We can also use the for loop to modify each character in a string.

# For example, let's say we want to add 1 to the ASCII value of each character in the string "hello":

string = "hello"

modified_string = ""

for char in string:
  modified_string += chr(ord(char) + 1)

print(modified_string)

# Output:
# ifmmp

# The chr() function returns the character corresponding to the ASCII value.

ifmmp

In [63]:

# We can also use the for loop to access the index of each character in the string.

# For example, let's say we want to print the index and character of each character in the string "hello":

string = "hello"

for i, char in enumerate(string):
  print(f"Index: {i}, Character: {char}")

# Output:
# Index: 0, Character: h
# Index: 1, Character: e
# Index: 2, Character: l
# Index: 3, Character: l
# Index: 4, Character: o

# The enumerate() function returns a tuple containing the index and value of each character in the string.

Index: 0, Character: h
Index: 1, Character: e
Index: 2, Character: l
Index: 3, Character: l
Index: 4, Character: o

In [64]:

# We can also use the range() function with the for loop to iterate over a specific range of indexes in the string.

# For example, let's say we want to print the characters at even indices in the string "hello":

string = "hello"

for i in range(0, len(string), 2):
  print(string[i])

# Output:
# h
# l

# The range() function returns a sequence of numbers, starting from the first argument, and increments by the second argument, and ends at the third argument.

# In this case, we start from 0, increment by 2, and end at the length of the string, which prints the characters at even indices in the string.

h
l
o

## Defining functions and methods

Functions are blocks of code that perform a specific task and can be called multiple times in a program.

In Python, we define a function using the `def` keyword, followed by the function name and a set of parentheses that may include parameters. The block of code within the function is indented.

Here is an example of a function that takes no parameters and returns no value:

In [4]:
def greet():
  print("Hello!")

# To call the function, we simply use the function name followed by a set of parentheses:

greet()

Hello!

 We can pass values to the function as arguments when we call the function. These values are called parameters.

For example, let's say we want to greet someone by name:

In [3]:
def greet(name):
  print(f"Hello, {name}!")

greet("John")

Hello, John!


Functions can return a value using the `return` keyword.

For example, let's say we want to create a function that calculates the area of a rectangle:

In [2]:
def calculate_area(length, width):
  area = length * width
  return area

# To retrieve the returned value, we can assign the function call to a variable:

rectangle_area = calculate_area(10, 20)
print(rectangle_area)

200

Part 4

In [67]:
word = "hello"
for char in word:
  print(ord(char))

104
101
108
108
111

part 5

In [71]:
word = [104, 101, 108, 108, 111]
for value in word:
  print(chr(value))

h
e
l
l
o